{%extends "base.html"%}
{% load bootstrap4 %}

{% block content %}
<div class="container"><br>
  <div class="row">

    <div class="col-md-6">

        <img src="/static/images/reg.jpeg" width="400" height="400" style="border-radius: 20%;" >

    </div>
    <div class="col-md-4">
      <h1 class="text-center"><u>Register</u></h1><br>
      <p><a href="{% url 'customerregister' %}" class="text-center" style='color:#8a3ab9;'><b>I am a Customer</b></a></p>
      <p><a href="{% url 'employeeregister' %}" class="text-center" style='color:#8a3ab9;'><b>I am an Employee</b></a></p>
      <p>Already have an account? <a href="{% url 'login' %}" class="text-center"><b>Log in</b></a></p>
    <div class="col-md-4"></div>
  </div>
</div>

{% endblock %}