{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container bg-info" style="color:white;margin-top: 4%;">
{% if pickup %}
    <h2 class="text-center">Customer pickup details:</h2>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4"><br>
<div class="row">
    <div class="col-md-10">
    {% for pickups in pickup %}
    <p>Time of Pickup: {{pickups.time_of_pickup}}</p>
    <p>Date of Pickup: {{pickups.date_of_pickup}}</p>
    <p>Contact: {{pickups.contact}}</p>
    <p>Email: {{pickups.email}}</p>
    {% endfor %}

    </div>
</div>
{% else %}
<h5 class="text-center">User has <strong style="color: red;">not</strong> requested for pickup<a class="d-block mx-auto" href="/">
    <button class="btn btn-sm btn-success d-block mx-auto">Back Home</button></a></h5><br><br>
{% endif %}
{% endblock %}